/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* dogeball red: #B73E12
teal blue: #00A0B0
brown: #6A4A3C
orange: #EB6841
yellow: #EDC951 */

/* erica-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Erica One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/erica-one-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mitr-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/mitr-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Fluid Type Scale Generator */

html {font-size: 16px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1103%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 160%2c 176%2c 1)'%3e%3c/rect%3e%3cpath d='M599.41 64.58 L665.02 195.81L548.5447579996113 213.8652420003886z' stroke='rgba(237%2c 201%2c 81%2c 1)' stroke-width='1' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M762.21 449.16a5.6 5.6 0 1 0-2.36 10.95 5.6 5.6 0 1 0 2.36-10.95zM758.84 464.8a5.6 5.6 0 1 0-2.36 10.95 5.6 5.6 0 1 0 2.36-10.95zM755.47 480.44a5.6 5.6 0 1 0-2.37 10.95 5.6 5.6 0 1 0 2.37-10.95zM752.09 496.08a5.6 5.6 0 1 0-2.36 10.95 5.6 5.6 0 1 0 2.36-10.95zM753.32 414.51a5.6 5.6 0 1 0-2.36 10.95 5.6 5.6 0 1 0 2.36-10.95zM749.94 430.15a5.6 5.6 0 1 0-2.36 10.95 5.6 5.6 0 1 0 2.36-10.95zM746.57 445.79a5.6 5.6 0 1 0-2.36 10.95 5.6 5.6 0 1 0 2.36-10.95zM743.2 461.43a5.6 5.6 0 1 0-2.36 10.95 5.6 5.6 0 1 0 2.36-10.95z' stroke='rgba(106%2c 74%2c 60%2c 1)' stroke-width='2.2' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M1358.75 543.98 L1295.76 690.74L1255.3648810953212 545.469881095321z' stroke='rgba(237%2c 201%2c 81%2c 1)' stroke-width='2.02' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='304.56' height='304.56' clip-path='url(%26quot%3b%23SvgjsClipPath1104%26quot%3b)' x='188.47' y='159.52' fill='url(%26quot%3b%23SvgjsPattern1105%26quot%3b)' transform='rotate(245.71%2c 340.75%2c 311.8)'%3e%3c/rect%3e%3cpath d='M157.61 383.13 L114.04 424.1L102.30964247015586 370.09964247015586z' stroke='rgba(183%2c 62%2c 18%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='62.4' height='62.4' clip-path='url(%26quot%3b%23SvgjsClipPath1106%26quot%3b)' x='28.56' y='146.3' fill='url(%26quot%3b%23SvgjsPattern1107%26quot%3b)' transform='rotate(57.07%2c 59.76%2c 177.5)'%3e%3c/rect%3e%3crect width='108.2' height='108.2' clip-path='url(%26quot%3b%23SvgjsClipPath1108%26quot%3b)' x='485.92' y='168.71' fill='url(%26quot%3b%23SvgjsPattern1109%26quot%3b)' transform='rotate(174.18%2c 540.02%2c 222.81)'%3e%3c/rect%3e%3crect width='363.12' height='363.12' clip-path='url(%26quot%3b%23SvgjsClipPath1110%26quot%3b)' x='-12.44' y='250.32' fill='url(%26quot%3b%23SvgjsPattern1111%26quot%3b)' transform='rotate(35.21%2c 169.12%2c 431.88)'%3e%3c/rect%3e%3crect width='372' height='372' clip-path='url(%26quot%3b%23SvgjsClipPath1112%26quot%3b)' x='725.88' y='160.8' fill='url(%26quot%3b%23SvgjsPattern1113%26quot%3b)' transform='rotate(8.19%2c 911.88%2c 346.8)'%3e%3c/rect%3e%3crect width='298.88' height='298.88' clip-path='url(%26quot%3b%23SvgjsClipPath1114%26quot%3b)' x='474.54' y='256.17' fill='url(%26quot%3b%23SvgjsPattern1115%26quot%3b)' transform='rotate(310.34%2c 623.98%2c 405.61)'%3e%3c/rect%3e%3crect width='187.2' height='187.2' clip-path='url(%26quot%3b%23SvgjsClipPath1116%26quot%3b)' x='1012.96' y='281.68' fill='url(%26quot%3b%23SvgjsPattern1117%26quot%3b)' transform='rotate(344.71%2c 1106.56%2c 375.28)'%3e%3c/rect%3e%3crect width='168' height='168' clip-path='url(%26quot%3b%23SvgjsClipPath1118%26quot%3b)' x='834.05' y='114.46' fill='url(%26quot%3b%23SvgjsPattern1119%26quot%3b)' transform='rotate(199.24%2c 918.05%2c 198.46)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1103'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='8.46' height='8.46' patternUnits='userSpaceOnUse' id='SvgjsPattern1105'%3e%3cpath d='M4.23 1L4.23 7.460000000000001M1 4.23L7.460000000000001 4.23' stroke='rgba(237%2c 201%2c 81%2c 1)' fill='none' stroke-width='1.48'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1104'%3e%3ccircle r='76.14' cx='340.75' cy='311.8'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6.24' height='6.24' patternUnits='userSpaceOnUse' id='SvgjsPattern1107'%3e%3cpath d='M3.12 1L3.12 5.24M1 3.12L5.24 3.12' stroke='rgba(183%2c 62%2c 18%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1106'%3e%3ccircle r='15.6' cx='59.76' cy='177.5'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='108.2' height='10.82' patternUnits='userSpaceOnUse' id='SvgjsPattern1109'%3e%3crect width='108.2' height='5.41' x='0' y='0' fill='rgba(106%2c 74%2c 60%2c 1)'%3e%3c/rect%3e%3crect width='108.2' height='5.41' x='0' y='5.41' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1108'%3e%3ccircle r='27.05' cx='540.02' cy='222.81'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.68' height='10.68' patternUnits='userSpaceOnUse' id='SvgjsPattern1111'%3e%3cpath d='M5.34 1L5.34 9.68M1 5.34L9.68 5.34' stroke='rgba(106%2c 74%2c 60%2c 1)' fill='none' stroke-width='1.17'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1110'%3e%3ccircle r='90.78' cx='169.12' cy='431.88'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1113'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(237%2c 201%2c 81%2c 1)' fill='none' stroke-width='1.9'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1112'%3e%3ccircle r='93' cx='911.88' cy='346.8'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.34' height='9.34' patternUnits='userSpaceOnUse' id='SvgjsPattern1115'%3e%3cpath d='M0 9.34L4.67 0L9.34 9.34' stroke='rgba(106%2c 74%2c 60%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1114'%3e%3ccircle r='74.72' cx='623.98' cy='405.61'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.36' height='9.36' patternUnits='userSpaceOnUse' id='SvgjsPattern1117'%3e%3cpath d='M0 9.36L4.68 0L9.36 9.36' stroke='rgba(237%2c 201%2c 81%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1116'%3e%3ccircle r='46.8' cx='1106.56' cy='375.28'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='168' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1119'%3e%3crect width='168' height='3' x='0' y='0' fill='rgba(183%2c 62%2c 18%2c 1)'%3e%3c/rect%3e%3crect width='168' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1118'%3e%3ccircle r='42' cx='918.05' cy='198.46'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
  font-family: 'Mitr';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Erica One', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Erica One', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.21em;
}

h2,
.text-size-h2 { font-size: 3.16em; }

h3,
.text-size-h3 { font-size: 2.37em; }

h4,
.text-size-h4 { font-size: 1.78em; }

h5,
.text-size-h5 { font-size: 1.33em; }

.text-caption { font-size: 0.75em; }

small,
.text-small {
  font-size: 0.56em;
}