html {
}

body {
    padding: 20px;
    margin: 0 auto;
} 

.intro {
    color: #f4c095;
    border-radius: 3px;
}

.boxes {
      display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.boxes div {
  -webkit-flex: 1 1 250px;
  flex: 1 1 250px;
  margin: 10px;
  border-radius: 7px;
  padding: 10px 10px 0 10px;
  background-color: #679289;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

img {
  max-width: 300px; 
  height: auto;   
)


