/* styles.css */
html {
	background-color: #03254E;
}

img {
	border-radius: 5px;
	padding: 10px;
}

h1, h2 {
	  font-family: "Borel", cursive;
	width: 20%;
    margin: 0 auto;
	padding-top: 15px;
    background-color: #545677;
	border: 2px dotted #011C27;
	border-radius: 5px;
	text-align: center;
	color: #EB9FEF;
}

body {
	width: 80%;
    padding: 20px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #011C27;
    background-color: #FECEE9;
}
	
p, li {
	 font-family: "Jersey 25", sans-serif;
	color: #011C27;
	font-size: 2em;
}
