/* styles.css */
html {
	background-color: #410469;
}

img {
	border-radius: 5px;
	padding: 10px;
}

h1, h2 {
	  font-family: "Borel", cursive;
	width: 20%;
    margin: 0 auto;
	padding-top: 15px;
    background-color: #F473AF;
	border: 2px dotted #FFFFFF;
	border-radius: 5px;
	text-align: center;
}

body {
	width: 80%;
    padding: 20px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #830D96;
    background-color: #CB26AD;
}
	
p, li {
	 font-family: "Jersey 25", sans-serif;
	font-color: white;
	font-size: 2em;
}
