/* koulen-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/koulen-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sen-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/sen-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
background-image: url(images/vintage-wallpaper.webp);
	font-size: 16px;
}

body {
	background-color: #37718E;
	width: 80%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: false;
	line-height: 1.65;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
  font-family: 'Sen';
	color: #AEF3E7;
	padding-left: 20px;
	padding-left: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Koulen';
  font-weight: true;
  line-height: 1.15;
	color: #8EE3EF;
	padding-left: 20px;
}

h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: 4.21em;
	color: #C33C54;
	padding-top: 20px;
}

h2,
.text-size-h2 { font-size: 3.16em; }

h3,
.text-size-h3 { font-size: 2.37em; }

/* Grid class */

.jobs {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .job {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

.job img {
    height: auto;
    max-width: 400px;
  }

        
