/* alkalami-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alkalami';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/alkalami-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* allerta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Allerta';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/allerta-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

 html {
      margin: 0;
      padding: 0;
      background-image: url(images/background.png); 
      background-size: cover;
      background-repeat: no-repeat; 
      background-position: center; 
    }

body {
margin: 0 auto;
background-color: #003B46;
border: solid;
border-radius: 10px;
width: 85%;
}

h1, h2, h3 {
  font-family: 'Alkalami';
  border-bottom: 3px dotted;
  margin: 15px 0 5px 0;
  text-align: center;
  overflow: hidden;
  color: #00A3A9;
  padding-top: 10px;
  letter-spacing: 2px;
}

/*I wanted to adjust the padding on top so it was more even and centered.*/

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p, ul {
  font-family: 'Allerta';
  color: #FFFFFF;
  padding: 20px;
  padding-top: -10px;
  line-height: 1.5;
}

aside {
  width: 30%;
  float: right;
  margin: 10px;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
/*This is only for the presidential campaign assignment.*/
