/* bokor-regular - latin */ 
@font-face { 
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */ 
  font-family: 'Bokor'; 
  font-style: normal; 
  font-weight: 400; 
  src: url('font/bokor-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ 
} 

/* arya-regular - latin */ 
@font-face { 
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */ 
  font-family: 'Arya'; 
  font-style: normal; 
  font-weight: 400; 
  src: url('font/arya-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ 
} 

 nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  background-color: #372e29;
   padding: 20px;
 }

 nav ul li {
  padding: 5px;
  border-radius: 5px;
 }

.full-page-image {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  object-fit: cover; 
  }
  
html, body {
  margin: 0;
}

html {
  font-size: 16px; 
  background-color: #281b0d;
}

body {
  font-weight: false;
  line-height: 1.65;
}

p, li {
  font-family: 'Arya'; 
  font-size: 1.25em;
  color: #FFFFFF;
}

p {
 padding-left: 20px;
  padding-right: 20px
}

a {
  font-family: 'Bokor', sans-serif;
  text-align: center;
  background-color: #726255;
  border-radius: 5px;
  padding: 3px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bokor', sans-serif;
  font-weight: true;
  line-height: 1.15;
  color: #FFFFFF;
  padding: 20px;
  letter-spacing: 3px;
}

h1,
.text-size-h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

.about {
  background-color: #740001;
}

.about h2, h1 {
  background-color: #ac0001
}

.stuff {
  background-color: #1a742a;
  display: flex;
}

.stuff img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-fit: contain;
  object-position: center, top, 50% 50%;
  justify-content: space-around;
  align-content: center;
  gap: 50px;
}

.stuff ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.stuff h2, h1 {
  background-color: #2a623d;
}

.stay {
  background-color: #0c1a40;
}

.stay h2, h1 {
  background-color: #222f5b;
}

.eat {
  background-color: #eeb939;
}

.eat img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-fit: contain;
  object-position: center, top, 50% 50%;
  justify-content: space-around;
  align-content: center;
  gap: 50px;
}

.eat ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.eat h2, h1 {
  background-color: #f0c75e;
}

.stuff a {
 text-align: center;
  font-size: 1.5em;
  padding: 3px;
}

.eat  a {
  text-align: center;
  font-size: 1.5em;
  padding: 3px;
}

.stay a {
  text-align: center;
  font-size: 1.5em;
  padding: 3px;
}

/* Confused on how to make img all the same sizes and align with text like websites do.
Why are all headings yellow.
How do I take away the white in between sections.
How do I even make a footer? */
