html {
background-image: url(images/double-bubble-outline.webp);
}

body {
  background-color: #FFFFFF;
  margin: 0 auto;
  border: 1px;
  box-shadow: 5px 5px 10px;
  width: 70%;
  border-radius: 3px;
}

h1, h2, h3 {
  font-family: "BBH Sans Bogle", sans-serif;
  botter-bottom: 2px solid #0000000;
  font-size: 2em;
}

p, li {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
