html {
background-image: url(images/double-bubble-outline.webp);
}

body {
  background-color: #F2F0EF;
  margin: 0 auto;
  border: 1px;
  box-shadow: 5px 5px 10px;
  width: 80%;
  border-radius: 3px;
}

h1, h2, h3 {
  font-family: "BBH Sans Bogle", sans-serif;
  padding: -10px 15px;
  letter-spacing: 3px;
}

h1 {
  font-size: 6em;
  padding-top: 20px;
}

h2 {
  font-size: 3em;
  border-bottom: 3px solid;
  margin: 5px 5px;
}

h3 {
  font-size: 2em;
}
  
p, li {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  padding: 0 15px;
}
